name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
   build-and-test:
     runs-on: ubuntu-latest

     steps:

       - name: checkout code
         uses: actions/checkout@v6

       - name: Set up go
         uses: actions/setup-go@v6
         with:
           go-version: "1.25"

       - name: Download Dependencies
         run: go mod download

#       - name: Build
#         run: go Build 

       - name: Run tests
         run: go test ./...